apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-python-bxlcoybn
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-python-bxlcoybn:d72ffed83f8544b61ddaec6b4370efff64cfae32@sha256:70cde6c42f42ddb26a244c060a37ab9d474b8ce91634bf15749826dfaf980481
          name: container-image
